*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    width: 100%;
    height: 100vh;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.container {
    position: relative;
}
.logo-wrapper {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 2px solid black;
    border-radius: 30%;
}

.logo {
    width: 100%;
    height: 100%;
    /* border: 2px solid white; */
    border-radius: 50%;
}

.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    gap: 25px;
  }
  
  .tile {
    /* width: 200px;
    height: 200px; */
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

  .icon-github {
    background-color: #fff;
    padding: 5px;
    width: 100px;
    height: 100px;
    display: block;
    background-position: center;
  }
  
  /* .tile-github {
    background-color: #24292e;
    color: white;
  }
  
  .tile-linkedin {
    background-color: #0077b5;
    color: white;
  }
  
  .tile-resume {
    background-color: #3498db;
    color: white;
  } */
  
  .tile i {
    font-size: 50px;
  }
  
  .tile span {
    font-size: 20px;
    text-transform: uppercase;
  }